[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
seaborn = "*"
scikit-learn = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
